.App {
  text-align: center;
  font-size: 1.25em;
}

.question {
  width: 75%;
  text-align: left;
  font-size: 1.2em;
  margin: auto;
}

label {
  text-align: left;
  width: 7%;
  font-size: 0.8em;
}

input[type=radio] {
    border: 0px;
    width: 50%;
    height: 1.5em;
}

button {
  font-size: 1em;
  padding: 0.3em 1em;
}

.response {
  width: 60%;
  margin: 0.5em auto;
  text-align: left;
}

.radio-group label {
  display: inline-block;
  text-align: center;
  margin: 0 0.2em;
}

.radio-group label input[type="radio"] {
  display: block;
  margin: 0.5em auto;
}

.radio-key {
  width: 20%;
  margin-bottom: 1em;
  font-size: 0.8em;
  display: inline-block;
  color: grey;
}
